**QUESTION**


```
Add two columns High_Low_Speed and High_Low_HP in the same dataset as we worked in class.
```

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("/content/drive/MyDrive/Pokemon.csv")
data.head(10)

   #                       Name Type 1  ... Speed  Generation  Legendary
0  1                  Bulbasaur  Grass  ...    45           1      False
1  2                    Ivysaur  Grass  ...    60           1      False
2  3                   Venusaur  Grass  ...    80           1      False
3  3      VenusaurMega Venusaur  Grass  ...    80           1      False
4  4                 Charmander   Fire  ...    65           1      False
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[10 rows x 13 columns]

In [5]:
data.describe()

                #      Total          HP  ...     Sp. Def       Speed  Generation
count  800.000000  800.00000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750  435.10250   69.258750  ...   71.902500   68.277500     3.32375
std    208.343798  119.96304   25.534669  ...   27.828916   29.060474     1.66129
min      1.000000  180.00000    1.000000  ...   20.000000    5.000000     1.00000
25%    184.750000  330.00000   50.000000  ...   50.000000   45.000000     2.00000
50%    364.500000  450.00000   65.000000  ...   70.000000   65.000000     3.00000
75%    539.250000  515.00000   80.000000  ...   90.000000   90.000000     5.00000
max    721.000000  780.00000  255.000000  ...  230.000000  180.000000     6.00000

[8 rows x 9 columns]

**FUNCTION OF SET SPEED AND ADDING COLUMN HIGH_LOW_SPEED**

In [8]:
speed_mean = data["Speed"].mean()
print(speed_mean)

def set_speed(val):
    if val < speed_mean:
        return "Low Speed"
    elif val == speed_mean:
        return "Neutral Speed"
    else:
        return "High Speed"

68.2775

In [7]:
# "High_Low_Speed"  -> "High Speed" , "Low Speed"
data["High_Low_Speed"] = data["Speed"].apply(set_speed)
data

       #                   Name   Type 1  ... Generation  Legendary  High_Low_Speed
0      1              Bulbasaur    Grass  ...          1      False       Speed Low
1      2                Ivysaur    Grass  ...          1      False       Speed Low
2      3               Venusaur    Grass  ...          1      False      Speed High
3      3  VenusaurMega Venusaur    Grass  ...          1      False      Speed High
4      4             Charmander     Fire  ...          1      False       Speed Low
..   ...                    ...      ...  ...        ...        ...             ...
795  719                Diancie     Rock  ...          6       True       Speed Low
796  719    DiancieMega Diancie     Rock  ...          6       True      Speed High
797  720    HoopaHoopa Confined  Psychic  ...          6       True      Speed High
798  720     HoopaHoopa Unbound  Psychic  ...          6       True      Speed High
799  721              Volcanion     Fire  ...          6       True      Speed High

[800 rows x 14 columns]

**FUNCTION OF SET HP AND ADDING COLUMN HIGH_LOW_HP**

In [9]:
HP_mean = data["HP"].mean()
print(HP_mean)

def set_HP(val):
    if val < HP_mean:
        return "Low HP"
    elif val == HP_mean:
        return "Neutral HP"
    else:
        return "High HP"

69.25875

In [10]:
# "High_Low_HP"  -> "High HP" , "Low HP"
data["High_Low_HP"] = data["HP"].apply(set_HP)
data

       #                   Name   Type 1  ... Legendary  High_Low_Speed  High_Low_HP
0      1              Bulbasaur    Grass  ...     False       Speed Low       Low HP
1      2                Ivysaur    Grass  ...     False       Speed Low       Low HP
2      3               Venusaur    Grass  ...     False      Speed High      High HP
3      3  VenusaurMega Venusaur    Grass  ...     False      Speed High      High HP
4      4             Charmander     Fire  ...     False       Speed Low       Low HP
..   ...                    ...      ...  ...       ...             ...          ...
795  719                Diancie     Rock  ...      True       Speed Low       Low HP
796  719    DiancieMega Diancie     Rock  ...      True      Speed High       Low HP
797  720    HoopaHoopa Confined  Psychic  ...      True      Speed High      High HP
798  720     HoopaHoopa Unbound  Psychic  ...      True      Speed High      High HP
799  721              Volcanion     Fire  ...      True      Speed High      High HP

[800 rows x 15 columns]